/* Reset Browsers styles  */
* {
padding: 0;
margin: 0;
}

body {
    font-family: 'Syne', sans-serif;
    font-size: 16px;
}

/* root page container */
#main-container {
    width: 1000px;
    margin: 0 auto;
}
/* Header  */
header {
background-image: url('./img/header.jpg');
background-size: cover;
width: 951px; 
height: 60px;
padding-left: 30px;
padding-top: 30px;
padding-right: 19px;
padding-bottom: 30px;
}

#logo {
    display: inline-block;
    width: 200px;
    height: 60px;
    
}

#logo img {
    width: 100%;
    height: 100%;

}
#social {
    float: right;
    width: 140px;
    height: 40px;
    padding: 10px 0px;
    display: flex;
}

#social a {
    width: 40px;
    height: 40px;
    background-color: white;
    display: block;
    margin-right: 9px;
    border-radius: 20px;
}

#social a:first-child {
    margin-left: 1px;
}

#social a:last-child {
    margin-right: 1px;
}

#social a img {
    width: 100%;
    height: 100%;
}

/* end header */

/* Nav section */
nav,
nav ul {
    /* nav top/bottom left/right */
    margin: 20px 0px;
    height: 48px;
}

nav ul {
    display: flex;
}
.box {
    width: 198px;
    height: 48px;
    display:inline-block;
    margin: 0px 1px;
    text-align: center;
}

.box a {
    text-decoration: none;
    height: 100%;
    line-height: 48px;
    font-size: 1.4rem;
    
}
.box a:hover {
    color: blue;
}
/* End Nav */

/* Headlines */
#headlines {
    height: 191px;
    margin-bottom: 25px;
    display: flex;
}

#headlines article{
    width: 329px;
    margin-right: 9px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headlines article:last-child {
    margin-right: 0px;
}

#headlines article h2 {
    color: white;
}
#wanda {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./img/headline1.jpg');
}

#soul {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./img/headline2.jpg');
}

#mandalorian {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./img/headline3.jpg');
}
#headlines article a {
    color: white;
    text-decoration: none;
    background-color: #686de0;
    margin-top: 5px;
    padding: 10px;
    text-transform: uppercase;
}
#headlines article a:hover {
    background-color: #4834d4;
}

/* End headlines */

/* Main content */
main {
    height: 453px;
    margin-bottom: 24px;
    display: flex;
}

#left, #articles, #right {
    display: inline-block;
    height:453px;

}

#left {
    
    width: 200px;
    background-color: #c0c0c0;
}    

#articles {
    width: 600px;
    background-color: #979797;

}

#right {
    width: 200px;
    background-color:#c0c0c0;
    box-sizing: border-box;
}
/* End main content */

footer {
    height: 70px;
    text-align: center;
}

footer p {
    line-height: 70px;
}

